html {
  --heading-gradient-to: #22d3ee;
  --heading-gradient-from: #99f6e4;
  --heading-gradient-stops: var(--heading-gradient-from), var(--heading-gradient-to, rgba(153, 246, 228, 0));
}

.Hero__container {
  padding-top: 2.5rem;
  background-color: rgba(17, 24, 39, 1);
}

.Hero__container--margin {
  margin-left: auto;
  margin-right: auto;
  max-width: 80rem;
}

.Hero__grid-left {
  margin-left: auto;
  margin-right: auto;
  max-width: 28rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.Hero__heading {
  margin-top: 1rem;
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 800;
  letter-spacing: -0.025em;
  display: block;
  padding-bottom: 0.75rem;
}

.Hero__body {
  font-size: 1rem;
  line-height: 1.5rem;
  color: rgba(209, 213, 219, 1);
}

.Hero__heading--gradient {
  background-image: linear-gradient(to right, var(--heading-gradient-stops));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.Hero__grid-right {
  margin-top: 3rem;
  padding-bottom: 1rem;
}

.Hero__image-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 20rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.Hero__image {
  display: block;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  width: 100%;
}

@media (min-width: 640px) {
  .Hero__container {
    padding-top: 4rem;
  }

  .Hero__grid-left {
    max-width: 42rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    text-align: center;
  }

  .Hero__heading {
    margin-top: 1.25rem;
    font-size: 3.75rem;
    line-height: 1;
    padding-bottom: 1.25rem;
  }

  .Hero__body {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  .Hero__image-container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .Hero__container {
    padding-top: 2rem;
    padding-bottom: 3.5rem;
    overflow: hidden;
  }

  .Hero__container--margin {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .Hero__grid {
    gap: 2rem;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .Hero__grid-left {
    display: flex;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
  }

  .Hero__grid-left--py {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .Hero__heading {
    margin-top: 1.5rem;
    font-size: 3.75rem;
    line-height: 1;
  }

  .Hero__body {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .Hero__grid-right {
    position: relative;
    margin: 0;
    padding-bottom: 0;
  }

  .Hero__image-container {
    max-width: none;
    padding-left: 0;
    padding-right: 0;
  }

  .Hero__image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: auto;
    max-width: none;
  }
}

@media (min-width: 1280px) {
  .Hero__body {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}
