body {
  font-family:
    'Inter',
    system-ui,
    -apple-system,
    'BlinkMacSystemFont',
    'Segoe UI',
    'Roboto',
    'Helvetica Neue',
    Arial,
    'Noto Sans',
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    'Noto Color Emoji';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: min(max(1rem, 4vw), 22px);
  font-weight: 200;

  --font-size--small: 1.4rem; /* 14px */
  --font-size--default: 1.6rem; /* 16px */
  --font-size--large: 2.4rem; /* 24px */
}

h1 {
  font-size: var(--font-size--large);
  font-weight: 600;
}

h2 {
  font-weight: 400;
}

p {
  font-weight: 200;
}

.font-size--small {
  font-size: var(--font-size--small);
}

.font-size--default {
  font-size: var(--font-size--default);
}

.font-size--large {
  font-size: var(--font-size--large);
}

.relative {
  position: relative;
}

.overflow-hidden {
  overflow: hidden;
}
